[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
jupyter-http-over-ws = "*"
gym = "*"
scipy = "*"
ipywidgets = "*"
nbconvert = "*"
mistune = "*"

[dev-packages]

[requires]
python_version = "3.10"
